<ul id="files">
  <% @filenames.each do |filename| %>
    <li>
      <a class="file" href='/<%= filename %>'><%= filename %></a>
      <ul>
        <li>
          <a class='revisions' href='/<%= filename %>/revisions'>Revisions</a>
        </li>
        <% if signed_in? %>
          <li><a class='edit' href='/<%= filename %>/edit'>Edit</a></li>
          <li>
            <form action='files/delete/<%= filename %>' method='post' class='delete'>
              <button type='submit'>Delete</button>
            </form>
          </li>
          <li>
            <form action='files/duplicate/<%= filename %>' method='post' class='duplicate'>
              <button type='submit'>Duplicate</button>
            </form>
          </li>
        <% end %>
      </ul>   
    </li>
  <% end %>
</ul>
