<ul id="files">
  <% @filenames.each do |filename| %>
    <li>
      <a class="file" href='/<%= filename %>'><%= filename %></a>
      <span><a class='edit' href='/<%= filename %>/edit'>Edit</a></span>
      <form action='files/delete/<%= filename %>' method='post' class='delete'>
        <button type='submit'>Delete</button>
      </form>      
    </li>
  <% end %>
</ul>

<% content_for :header_link do %>
  <a class='add' href='/new'>New Document</a>
  <% if session[:username] %>
    Signed in as <%= session[:username] %>
    <form action='/users/signout' method='post' class='signout'>
      <button type='submit'>Sign Out</button>
    </form> 
  <% else %>
    <a class='signin' href='/users/signin'>Sign In</a>
    <a class='signup' href='/users/signup'>Sign Up</a>
  <% end %>
<% end %>
