<ul id="files">
  <% @filenames.each do |filename| %>
    <li>
      <a class="file" href='/<%= filename %>'><%= filename %></a>
      <span><a class='edit' href='/<%= filename %>/edit'>Edit</a></span>
      <span><a class='revisions' href='/<%= filename %>/revisions'>Revisions</a></span>
      <form action='files/delete/<%= filename %>' method='post' class='delete'>
        <button type='submit'>Delete</button>
      </form>      
    
      <form action='files/duplicate/<%= filename %>' method='post' class='duplicate'>
        <button type='submit'>Duplicate</button>
      </form>      
    </li>
  <% end %>
</ul>
